.div-border {
    border: 1px solid slategrey;
    padding: 2px;
}

label {
    margin: 0;
    margin-left: 4px;
    margin-top: 8px;
}

textarea {
    width: 100%
}

input {
    padding-left: 4px;
    padding-right: 4px;
}